@import "../styles/theme";

.Navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: $primary;

  img {
    width: 2rem;
    height: 2rem;
    margin-right: 1.25rem;
    filter: drop-shadow(0 0 1rem black);
  }

  ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li a {
    text-decoration: none;
    color: transparentize($primary-text, 0.2);
    transition: color 0.25s;

    &:hover {
      color: $primary-text;
    }

    &.active {
      color: white;
    }
  }
}
